html, body {
  height:100%;
  width:100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  }



#container {
  width:100%;
  height:80%;
}

#imagem {
  width:80%;
  height:90%;
  background-image: url('../images/erro-404.jpg');
  background-size: 90% 90%;
  background-repeat: no-repeat;
  margin: 0 auto;

}

button {
    width: 30%;
    color: black;
    text-color: black;
    background-color:white;
    border-color:gray;
    border-style: groove;

}

a:link, a:visited, a:active, a:hover {
	text-decoration: none
	color: black;



}







