input, textarea{
    border-radius:0;
    
}
Body, p, h1,h2, label, span, font,b{
font-family:Arial, Helvetica, sans-serif;
color: #808080;

}

.row{
font-family:Arial, Helvetica, sans-serif;
color: #808080;	
	
}

p{
font-size: 17px	
}
.espaco{
	margin-bottom: 30px;
}


.nav-link{
	color:#120a8f;
	font-size: 23px	
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fbb034;

}

nav{
	background-color: #99CCFF;	
}

#sobre {
	background-color:#F8F8F8;
	width: 100%;
	text-align: justify-all;
  height: 500px;
}

#sobre .row{
  width: 98%;
}

#servico {
    /*margin-top: -40px;*/
    /*border-style: solid;
    border-color: black;*/
	/* width: 98%; */
	/* height:100%; */
	text-align: justify-all;
    height: 650px;

}

.col-md-2{
  width: 98%;
}

#contato .row{
  width: 98%;
}

#contato {
text-align: justify-all;
   /*border-style: solid;
    border-color: black;*/
    /*margin-top:500px;*/
   /* margin-top:100px; */
    /* padding-top: 30%; */

}
#span_contato{
text-align: justify-all;
vertical-align: middle;

}
.titulo{

	 text-align:center;
	 padding-top: 1px;
	 padding-bottom: 50px;
}

#pai{
  width: 98%;

}

#pai, h1{
	margin-top:8%;
	font-size:42px;
	font-weight: bold;
}

#pai, h2{
	margin-top:8%;
	font-size:37px;
	font-weight: bold;
}

.card, .btn, .form-control { border-radius: 0; }

/*FOOTER*/

footer {
  background: #505050;
  color: white;
  margin-top:100px;
  width: 100%;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

@media (max-width: 795px) {

  #painel2{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;

  }

  #painel2 h1 h2{
    font-size:6.0vw;

  }

  #sobre{
    height: 450;
    width: 99%;

  }



  #sobre p {
    margin-left: 5%;
    margin-right: 5%;


  }

  #servico{
    height: 875px;
    width: 100%;
    display: block;
  }

  #servico img{
    margin-bottom: 10%;
  }

  .social-network social-circle{
    padding-bottom: 20%;

  }


}

@media (max-width: 360px) {
  #sobre{
    height: 550px;
    width: 101.0%;

  }

  #sobre p {
    margin-left: 5%;
    margin-right: 5%;


  }

  #servico{
    height: 990px;
    width: 100%;
    display: block;
  }

  #footer{
    width: 110%;
  }

  #painel2 h1 h2{
    font-size:4.0vw;

  }

}