{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="{% static 'assets/css/erropage404.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    </head>
    <body>

        <div id="container">
            <div id="imagem">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <a href="/"><button>Voltar</button></a>
                </div>
            </div>
        </div>

    </body>
</html>